{% extends "layout.html" %}

{% block content %}
<article class="media content-section">
  <div class="media-body">

  <h2>Zapraszamy na stronę naszego cmentarza ⚰️</h2>
  <p class="article-content">Świadczymy wszelkiego rodzaju usługi pochówkowe.
  Potrzebujesz trumny? Świetnie trafiłeś! Wolisz urnę? Skieruj się do naszego krematorium! A może dawna krypta rodowa niszczeje? Nie mogłeś znaleźć lepszych specjalistów!

  Znajdziesz tu wszystko czego potrzebujesz - od kołyski aż po grób.
  </p>
  <p>Informacja o autorze znajduje się <a href="https://github.com/Tymotheus">tutaj</a>. </p>
  <img id="dydej" src="{{url_for('static', filename='cmentarz.jpg')}}" alt="Zdjęcie cmentarza">
  </div>
</article>
{% endblock content %}
