{% extends "layout.html" %}

{% block content %}

    {% if current_user.is_authenticated %}
    <div class="content-section">
      <form class="" action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Podaj dane nowego krematorium</legend>
          <div class="form-group">
              {{ form.nazwa_krematorium.label(class="form-control-label")}}

              {% if form.nazwa_krematorium.errors %}
                {{ form.nazwa_krematorium(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.nazwa_krematorium.errors %}
                      <span>{{ error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.nazwa_krematorium(class="form-control form-control-lg")}}
                {% endif %}
          </div>

      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
      </form>
    </div>
    {% endif %}

    <article class="media content-section custom-subtitle">
      <h2>Dostępne krematoria</h2>
    </article>
    {% for krematorium in krematoria %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">ID {{ krematorium[0] }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ krematorium[1] }}</a></h2>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
