{% extends "layout.html" %}
{% block content %}


<article class="media content-section custom-subtitle">
  <h2>Nagrobki</h2>
</article>
{% for grobek in zajete_nagrobki %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">ID {{ grobek[0] }}</small>
    </div>
    <h2><a class="article-title" href="#">Nieboszczyk: {{ grobek[2] }}</a></h2>
    <h2>Materiał: {{ grobek[1] }}</h2>
  </div>
</article>
{% endfor %}


{% if current_user.is_authenticated %}
<div class="content-section">
  <form class="" action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Dodaj nagrobek</legend>
      <div class="form-group">
          {{ form.material.label(class="form-control-label")}}

          {% if form.material.errors %}
            {{ form.material(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.material.errors %}
                  <span>{{ error}}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ form.material(class="form-control form-control-lg", type="text")}}
            {% endif %}
      </div>

  </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
  </div>
    <article class="media content-section custom-subtitle">
      <h2>Wolne nagrobki</h2>
    </article>
    {% for nagrobek in nieprzypisane_nagrobki %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">ID nagrobka: {{ nagrobek[0] }}</small>
        </div>
        <h3 class="article-title">Materiał: {{ nagrobek[1] }}</h3>

      </div>
    </article>
    {% endfor %}

{% endif %}

{% endblock content %}
