{% extends "layout.html" %}

{% block content %}
    <h1>  </h1>
    <div class="content-section">
      <form class="" action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Podaj dane nieboszczyka!</legend>
          <div class="form-group">
              {{ form.username.label(class="form-control-label")}}

              {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                      <span>{{ error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg")}}
                {% endif %}
          </div>
          <div class="form-group">
              {{ form.data_urodzenia.label(class="form-control-label")}}

              {% if form.data_urodzenia.errors %}
                {{ form.data_urodzenia(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.data_urodzenia.errors %}
                      <span>{{ error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.data_urodzenia(class="form-control form-control-lg", type="date")}}
                {% endif %}
          </div>
          <div class="form-group">
              {{ form.data_zgonu.label(class="form-control-label")}}

              {% if form.data_zgonu.errors %}
                {{ form.data_zgonu(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.data_zgonu.errors %}
                      <span>{{ error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.data_zgonu(class="form-control form-control-lg", type="date")}}
                {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
      </form>
    </div>

<div class="content-section">
  <form class="" action="" method="POST">
    {{ wyszukaj_form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Wyszukaj nieboszczyka</legend>
        <div class="form-group">
          {{ wyszukaj_form.imie.label(class="form-control-label") }}

          {% if wyszukaj_form.imie.errors %}
            {{ wyszukaj_form.imie(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in wyszukaj_form.imie.errors %}
                  <span>{{ error}}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ wyszukaj_form.imie(class="form-control form-control-lg")}}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ wyszukaj_form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
<!-- Tutaj mamy wynik wyszukiwania nieboszczyków -->
<article class="media content-section">
  <div class="media-body">
    {% if not search_result %}
    <!-- TO DO: jakies info jak nikogo nie znajdzie -->
    {% else %}
    <div class="article-metadata">
      <small class="text-muted">ID {{ search_result[0] }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ search_result[1] }}</a></h2>
    <p><b>Data urodzenia:</b> {{ search_result[2] }} <br>
       <b>Data zgonu:</b> {{ search_result[3] }}</p>
    {% endif %}
  </div>
</article>

    <article class="media content-section custom-subtitle" style="flex-direction: column">
      <h2 class="article-title"> Nasi klienci</h2>
      <div class="media body">
        <h3>Średnia wieku naszych klientów to: {{ sredni_wiek }} lat.</h3>
      </div>
    </article>
    {% for nieboszczyk in nieboszczycy %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">ID {{ nieboszczyk[0] }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ nieboszczyk[1] }}</a></h2>
        <p><b>Data urodzenia:</b> {{ nieboszczyk[2] }} <br>
           <b>Data zgonu:</b> {{ nieboszczyk[3] }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
